.artalk {
    --at-color-font: #2a2e2e;
    --at-color-deep: #2a2e2e;
    --at-color-sub: #757575;
    --at-color-grey: #747474;
    --at-color-meta: #697182;
    --at-color-border: #eceff2;
    --at-color-light: #4285f4;
    --at-color-bg: #fff;
    --at-color-bg-transl: rgba(255, 255, 255, 0.94);
    --at-color-bg-grey: #f3f4f5;
    --at-color-bg-grey-transl: rgba(244, 244, 244, 0.75);
    --at-color-bg-light: rgba(29, 161, 242, 0.1);
    --at-color-main: #0083ff;
    --at-color-red: #ff5652;
    --at-color-pink: #fa5a57;
    --at-color-yellow: #ff7c37;
    --at-color-green: #4caf50;
    --at-color-gradient: linear-gradient(
        180deg,
        transparent,
        rgba(255, 255, 255)
    );

    position: relative;
    width: 100%;
    min-height: 200px;
    color: var(--at-color-font);
    font-size: 14px;
    line-height: 1.6em;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
}

.artalk.darkMode {
    --at-color-font: #fff;
    --at-color-deep: #e7e7e7;
    --at-color-sub: #e7e7e7;
    --at-color-grey: #fff;
    --at-color-meta: #fff;
    --at-color-border: #2d3235;
    --at-color-light: #687a86;
    --at-color-bg: #1e2224;
    --at-color-bg-transl: rgba(30, 34, 36, 0.95);
    --at-color-bg-grey: #46494e;
    --at-color-bg-grey-transl: rgba(8, 8, 8, 0.95);
    --at-color-bg-light: rgba(29, 161, 242, 0.1);
    --at-color-main: #0083ff;
    --at-color-red: #ff5652;
    --at-color-pink: #fa5a57;
    --at-color-yellow: #ff7c37;
    --at-color-green: #4caf50;
    --at-color-gradient: linear-gradient(
        180deg,
        transparent,
        rgba(30, 34, 36, 1)
    );
}

.artalk *,
.artalk *::before,
.artalk *::after {
    box-sizing: border-box;
}

.artalk input,
.artalk textarea,
.artalk button,
.artalk optgroup,
.artalk select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.editor {
    position: relative;
    overflow: hidden;
    background: var(--at-color-bg);
    border: 1px solid var(--at-color-border);
    border-radius: 6px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px 14px 0;
}

.field {
    flex: 1;
    width: 100%;
}

.field:not(:last-child) {
    margin-right: 2px;
}

.input {
    flex: 1;
    width: 100%;
    color: var(--at-color-font);
    padding: 6px 5px;
    resize: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 3px;
    background: transparent;
    font-size: 14px;
}

.textareaWrap {
    position: relative;
}

.textarea {
    display: block;
    overflow: hidden;
    color: var(--at-color-font);
    font-size: 15px;
    background-color: var(--at-color-bg);
    border: 2px solid transparent;
    border-radius: 3px;
    width: 100%;
    min-height: 120px;
    margin-top: 2px;
    padding: 10px 20px;
    resize: none;
    word-wrap: break-word;
    outline: none;
}

.textarea::placeholder,
.input::placeholder,
.captchaInput::placeholder {
    color: var(--at-color-meta);
    opacity: 0.54;
}

.bottom {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
    color: #fff;
}

.bottomLeft,
.bottomRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sendButton {
    min-width: 7.3em;
    height: 30px;
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    background: var(--at-color-main);
    color: #fff;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out;
}

.sendButton:active {
    opacity: 0.9;
}

.notifyWrap {
    z-index: 3;
    position: absolute;
    right: -2px;
    bottom: 40px;
    width: 225px;
    opacity: 0.83;
}

.notify {
    display: block;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    animation: fadeIn 0.3s both;
}

.notify:not(:last-child) {
    margin-bottom: 3px;
}

.notify.success {
    background-color: #57d59f;
}

.notify.error {
    background-color: #ff6f6c;
}

.notify.info {
    background-color: #2ebcfc;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: var(--at-color-bg);
}

.loadingSpinner {
    position: relative;
    width: 50px;
    height: 50px;
}

.loadingSpinner svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    animation: rotate 2s linear infinite;
}

.loadingSpinner circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation:
        dash 1.5s ease-in-out infinite,
        color 6s ease-in-out infinite;
}

.dialogWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: var(--at-color-bg-transl);
}

.dialog {
    width: 25%;
}

.captchaBody {
    display: inline;
    color: var(--at-color-font);
}

.captchaImage {
    display: inline-block;
    width: 170px;
    height: auto;
    margin-right: 10px;
    padding-right: 10px;
    vertical-align: bottom;
    border-right: 1px solid var(--at-color-border);
    cursor: pointer;
}

.captchaInput {
    display: block;
    width: 100%;
    color: var(--at-color-font);
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 6px;
    line-height: 34px;
    outline: none;
    border: 1px solid var(--at-color-border);
    border-radius: 3px;
    background-color: var(--at-color-bg);
    text-align: center;
}

.dialogActions {
    display: flex;
    flex-direction: row;
}

.dialogButton {
    display: block;
    flex: 1;
    cursor: pointer;
    padding: 0 15px;
    line-height: 30px;
    outline: none;
    border: 1px solid var(--at-color-main);
    border-radius: 3px;
    background: transparent;
    color: var(--at-color-main);
}

.dialogButton:active {
    background: var(--at-color-main);
    color: #fff;
}

.dialogButton:not(:last-child) {
    margin-right: 5px;
}

.dialogButton.dialogError {
    border-color: #ff5652;
    background: #ff5652;
    color: #fff;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    0%,
    100% {
        stroke: #ff5652;
    }
    40% {
        stroke: #2196f3;
    }
    66% {
        stroke: #32c787;
    }
    80%,
    90% {
        stroke: #ffc107;
    }
}

@media only screen and (max-width: 768px) {
    .editor {
        margin-bottom: 7px;
    }

    .sendButton {
        min-width: 6em;
    }

    .dialog {
        width: 90%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .notify,
    .loadingSpinner svg,
    .loadingSpinner circle {
        animation: none;
    }
}
